# OS
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Node (caso futuramente adicione build)
node_modules/
dist/
.cache/

# Ambiente local
.env
.env.local
